In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt            #Importing Necessary Libraries.
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# 1.Data Ingestion/Data collection

In [472]:
data=pd.read_csv(r"C:\Users\Student\Downloads\googleplaystore.csv")   #Data Loading.

# 2.EDA

# a.Data Profiling

In [473]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [474]:
data.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [475]:
data.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9772,Get SMART ER/LA Opioids,MEDICAL,NaN,0,8.9M,500+,Free,0,Everyone,Medical,"April 26, 2018",36,4.0.3 and up
4556,Day R Premium,FAMILY,4.8,51068,57M,"100,000+",Paid,$4.99,Teen,Role Playing,"June 21, 2018",1.574,4.0.3 and up
8115,LOCX Applock Lock Apps & Photo,PRODUCTIVITY,4.5,208543,Varies with device,"10,000,000+",Free,0,Everyone,Productivity,"July 5, 2018",Varies with device,Varies with device
4306,CASE K-12 Math English Science,FAMILY,4.6,60,2.1M,"10,000+",Free,0,Everyone,Education,"May 1, 2016",1.0,2.2 and up
7733,QRZ Assistant,COMMUNICATION,4.2,1044,3.5M,"100,000+",Free,0,Everyone,Communication,"May 30, 2018",2.0,4.4 and up
115,Photo Editor 2018,BEAUTY,4.5,134,17M,"10,000+",Free,0,Everyone,Beauty,"March 1, 2018",1.20,4.0.3 and up
1313,Fitbit Coach,HEALTH_AND_FITNESS,4.6,28951,60M,"1,000,000+",Free,0,Everyone,Health & Fitness,"July 16, 2018",4.4,4.4 and up
14,3D Color Pixel by Number - Sandbox Art Coloring,ART_AND_DESIGN,4.4,1518,37M,"100,000+",Free,0,Everyone,Art & Design,"August 3, 2018",1.2.3,2.3 and up
1581,Kawaii Easy Drawing : How to draw Step by Step,LIFESTYLE,4.3,34327,8.1M,"5,000,000+",Free,0,Everyone,Lifestyle,"July 17, 2018",2.5.1,4.0 and up
4016,Expert C Programming - Learn C Coding Easily,FAMILY,4.4,77,6.9M,"5,000+",Free,0,Everyone,Education,"January 5, 2018",1.1.9,5.0 and up

In [476]:
data.info()                     ##There iss only one feature having datatype of 'float64' & remaining all features are having dtype of 'O'.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [477]:
pd.to_numeric(data['Reviews'],downcast="integer")   #Reviews column contain text data so we have find out that row.

ValueError: Unable to parse string "3.0M" at position 10472

In [ ]:
data_copy=data.copy()   #we have to delete this row because it contains text data in Reviews feature & because of this we are getting an error  "Unable to parse string "3.0M" at position 10472" while converting dtype to integer.

In [ ]:
data_copy.head()

In [ ]:
data_copy=data_copy.drop(index=10472)            #we should save altered data in data_copy.

In [ ]:
data_copy.shape                        #Dropped the perticular row.

In [ ]:
data_copy['Reviews']=data_copy['Reviews'].astype('int64')

In [ ]:
data_copy.info()

In [478]:
data_copy.describe().T

,count,mean,std,min,25%,50%,75%,max
Rating,9366.0,4.191757,5.152189e-01,1.00,4.0,4.3,4.5,5.0
Reviews,10840.0,444152.896033,2.927761e+06,0.00,38.0,2094.0,54775.5,78158306.0
Size,9145.0,21.506534,2.259602e+01,0.01,4.9,13.0,30.0,100.0

In [479]:
data_copy.columns                   #displaying the features of the data_copy.

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

# Segregating Numeric & Categorical features

In [480]:
num_col=[features for features in data_copy.columns if data_copy[features].dtypes!="O"]
num_col                        ##Data having 12 numeric features.

['Rating', 'Reviews', 'Size']

In [481]:
cat_col=[features for features in data_copy.columns if data_copy[features].dtypes=="O"]
cat_col                           ## Data having only one categorical feature.

['App',
 'Category',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [482]:
data_copy.memory_usage()

Index             86720
App               86720
Category          86720
Rating            86720
Reviews           86720
Size              86720
Installs          86720
Type              86720
Price             86720
Content Rating    86720
Genres            86720
Last Updated      86720
Current Ver       86720
Android Ver       86720
dtype: int64

In [483]:
data_copy.isnull().sum()                                 ##checking null calues in numeric features.

App                  0
Category             0
Rating            1474
Reviews              0
Size              1695
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [484]:
data_copy[num_col].skew()                           ## checking skewness of Numeric Data.

Rating     -1.849695
Reviews    16.449584
Size        1.556477
dtype: float64

In [579]:
data_copy['Size']=data_copy['Size'].str.replace('M','000')   #replacing M by numeric value to achieve the convertion of dtpe from object to int.

In [578]:
data_copy['Size']=data_copy['Size'].str.replace('k',"") #replacing k by numeric value to achieve the convertion of dtpe from object to int.

In [574]:
k=data_copy['Size'].unique()          #we have proble with this 'Varies with device'

In [575]:
len(k)

421

In [535]:
data_copy['Size']=data_copy['Size'].str.replace('Varies with device',"NaN")

In [490]:
data_copy['Size']=data_copy['Size'].astype('float')

In [491]:
data_copy['Size'].dtype

dtype('float64')

In [492]:
for i in data_copy['Size']:            
    if i<10:                                              #Loop to balance the data by scaling.
        data_copy['Size']=data_copy['Size'].replace(i,i*1000)

In [493]:
data_copy['Size']=data_copy['Size']/1000       #scaling the column  data_copy['Size']

In [494]:
data_copy["Size"].mean()      #finding mean of the column data_copy["Size"].

1.9641495899398531

In [532]:
data_copy["Size"]=data_copy["Size"].replace("NaN","21.506534062329052")       #None cell is replaced by data_copy["Size"].mean().

In [533]:
data_copy["Size"].count()

9145

In [497]:
data_copy.shape

(10840, 13)

In [498]:
data_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,0.019,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,0.014,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.700,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,0.025,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [499]:
data_copy['Installs'].dtypes             #we have to change the dtype and remove the special characters.

dtype('O')

In [500]:
data['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

In [501]:
data['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [502]:
character=['$',',',"+"]
column=['Installs','Price']            
for i in character:                       #Loop to remove these characters ['$',',',"+"] w.r.t these columns['Installs','Price'].
    for j in column:
        data_copy[j]=data_copy[j].str.replace(i,'')

In [503]:
data_copy['Installs'].unique()              #cleaned column.

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [504]:
data_copy['Price'].unique()                      ##cleaned column.

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       '1.20', '1.04'], dtype=object)

In [515]:
data_copy['Installs']=data_copy['Installs'].astype('int')   #converting dtype of (data_copy['Installs']) to 'int'.
data_copy['Installs'].dtypes

dtype('int32')

In [514]:
data_copy['Price']=data_copy['Price'].astype('float')         #converting dtype of (data_copy['Price']) to float.
data_copy['Price'].dtypes

dtype('float64')

In [519]:
data_copy['Last Updated']=pd.to_datetime(data_copy['Last Updated'])
data_copy['Last Updated'].dtypes

dtype('<M8[ns]')

In [524]:
data_copy['Last Updated'].dt.day
data_copy['Last Updated'].dt.month                #converting dtype of (data_copy['Last Updated']) to Datetime.
data_copy['Year']=data_copy['Last Updated'].dt.year

In [527]:
data_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Year
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,0.019,10000,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,2018
1,Coloring book moana,ART_AND_DESIGN,3.9,967,0.014,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,2018
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.700,5000000,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,2018
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,0.025,50000000,Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,2018
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800,100000,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,2018

In [528]:
data_copy.to_csv("Google_playstore_cleaned.csv",index=False)  #i am saving this cleaned dataset to physical file(csv).

In [530]:
k=pd.read_csv("Google_playstore_cleaned.csv") #again reading cleaned dataset.

In [531]:
k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
 13  Year            10840 non-null  int64
dtypes: float64(3), int64(3), object(8)
memory usage: 1.2+ MB