In [2]:
import scipy.stats as stats

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
dataset=sns.load_dataset('tips')

In [38]:
popmean=dataset['size'].mean()

In [34]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Chi-Square test

chi-square test is applied on two categorical variables from single population. it is used to determine wheather there is significant association between two variables.

In [15]:
data_table=pd.crosstab(dataset['sex'],dataset['smoker'])

In [17]:
print(data_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [22]:
data_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

In [28]:
from scipy.stats import ttest_1samp

In [41]:
p_value=ttest_1samp(a=dataset,popmean=popmean)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [42]:
age=[25,36,55,61,23,52,44,35,56,23,65,41,25,23,26,66,33,55,41,44,31,32,35,35]

In [43]:
len(age)

24

In [46]:
import numpy as np
np.mean(age)

40.083333333333336

In [47]:
sample_size=10
age_sample=np.random.choice(age,sample_size)

In [48]:
age_sample

array([25, 32, 61, 55, 66, 44, 35, 44, 31, 66])

In [49]:
from scipy.stats import ttest_1samp

In [54]:
_,p_value=ttest_1samp(age_sample,np.mean(age))

In [55]:
p_value

0.25891111497567537

In [56]:
if p_value < 0.05:
    print('we are rejecting null hypothesis')
else:
    print('we are failed to reject null hypothesis')

we are failed to reject null hypothesis